---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
//const pyURL = import.meta.env.VITE_PY_URL;
---

<Layout>
	<Navbar />
	<Welcome />
	<div class="hidden" id="pyfXT">https://thisone-py.onrender.com</div>
	<Footer />
</Layout>

<script>
	const py = document.getElementById('pyfXT')?.innerHTML || "";
	//console.log(py);

	const healtCheck = async () => {
		await fetch(py, {
			method: "GET",	
	});
	}

	healtCheck();
</script>
