---
// Astro component
---
<footer class="container-fluid text-light bottom-0 pt-5 wow fadeIn" data-wow-delay="0.1s" style="background-color: #8b2786">
    <div class="py-5">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <!-- Quick Link Column -->
          <div class="pl-6">
            <h4 class="text-white mb-3">Quick Link</h4>
            <a href="about.html" class="block text-gray-300 hover:text-white">About Us</a>
            <a href="contact.html" class="block text-gray-300 hover:text-white">Contact Us</a>
            <a href="contact.html" class="block text-gray-300 hover:text-white">FAQs & Help</a>
          </div>
      
          <!-- Contact Column -->
          <div>
            <h4 class="text-white mb-3">Contact</h4>
            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Jakarta, ID</p>
            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+62 8xx xxxx xxxx</p>
            <p class="mb-0">
              <i class="fa fa-envelope me-3"></i>
              <a href="mailto:fery.ardiansyah94747@gmail.com" class="text-gray-300 hover:text-white">fery.ardiansyah94747</a>
            </p>
            <div class="pt-2 flex space-x-3">
              <a href="https://web.facebook.com/feryardi/?_rdc=1&_rdr" class="text-gray-300 hover:text-white"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/feryardi" class="text-gray-300 hover:text-white"><i class="bi bi-instagram"></i></a>
              <a href="https://x.com/ferysoemarno" class="text-gray-300 hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                </svg>
              </a>
              <a href="404.html" class="text-gray-300 hover:text-white"><i class="fab fa-youtube"></i></a>
              <a href="https://id.linkedin.com/in/fery-ardiansyah-3a416256" class="text-gray-300 hover:text-white"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
      
          <!-- Quote Column -->
          <div>
            <h4 class="text-white mb-3">Quote</h4>
            <p class="mb-2">"<i>whether you think you can or you can’t you’re right.</i>"</p>
            <p class="mb-2">~ Henry Ford</p>
          </div>
        </div>
      </div>
      
      
    <div>
      <div>
        <div>
          <div class="text-center mb-3">
            &copy; <a href="#">This One</a>, All Right Reserved. Recovered from 2011.
          </div>
          <div class="text-center">
            <div>
              <a href="/">Home</a>
              <a href="contact.html">Help</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  